* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --grey: rgba(138, 137, 137, 0.979);
    --lightblue: rgb(45, 57, 221);
    --white: white;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  

body {
    background-color: var(--grey) ;
}

.hero {
    height: 700px;
    width: 100%;
    margin-bottom: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url("../images/city-lights.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    color: var(--white);
    top: 30%;
    left: 25%;
    font-size: 50px;

}
/* LINE UP THE ABOUT ME AND YOUR PARAGRAPH!*/


.header {
    padding: 20px;
    font-family: var(--font);
    background-color: var(--lightblue);
    color: var(--white);
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    width: 50%;
    height: 80px;
    padding-top: 15px;
    float: right;
    margin-left: 100px;
    font-family: var(--font);
    font-size: 30px;
}

ul {
    float: right;
}


ul li a {
    font-family: var(--font);
    text-decoration: none;
    display: flex;
    padding: 0 20px;
    color: var(--white); 
}

.header nav ul {
    list-style-type: none;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
}

h2 {
    font-size: 40px;
    margin-left: 17%;
    color: var(--white);
   position: relative;
}

p {
    font-family: var(--font);
    font-size: 20px;
    padding: 10px;
    color: var(--white);
    margin-left: 30%;
}

img {
    width: 500px;
    height: 300px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 30%;
}

img :hover {
    background-color: yellow;
}