* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --grey: rgba(128, 128, 128, 0.527);
    --lightblue: rgb(45, 57, 221);
    --white: white;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  

body {
    background-color: var(--grey) ;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--lightblue);
    color: var(--white);
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    width: 50%;
    height: 50px;
    padding-top: 15px;
    margin-left: 100px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

ul li a {
    font-family: var(--font);
    text-decoration: none;
    display: flex;
    padding: 0 20px;
    color: var(--white); 
}

.header nav ul {
    list-style-type: none;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
}

p {
    font-family: var(--font);
    font-size: 15x;
}

.city-lights {
    height: 650px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../images/city-lights.jpg");
    background-size: cover;
    background-position: center;
}